{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-secondary" href="{% url 'post_delete' pk=post.pk %}">Delete</a>
            {% endif %}
            {% if post.published_date %}
                <br>
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% else %}
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            {% endif %}
        </aside>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>

    {% if post.published_date %}

        <hr>
        <a class="btn btn-secondary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a><br>
        <hr>
        
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <div class="comment">
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    <div class="date">{{ comment.created_date }}</div>
                    {% if user.is_authenticated %}
                        <a class="btn btn-secondary" href="{% url 'comment_remove' pk=comment.pk %}">Remove comment</a>
                    {% endif %}
                </div>
                <br>
                <hr>
            {% endfor %}
        {% else %}
            <p>No comments here yet :(</p>
        {% endif %}

    {% endif %}


{% endblock %}